body {
    margin: 0;
    background-color: rgb(93, 93, 210);
}

h1, h2, h3, h4{
    font-family: Roboto, sans-serif;
    color: white;
    text-align: center;
}

h1 {
    font-size: 2.2em;
    font-weight: 900;
    margin: 6vh 0 2vh 0;
}

h2 {
    font-size: 1.5em;
    font-weight: 300;
    margin: 1vh 0 1vh 0;

}

h3{
    margin: 1vh 0 1vh 0;
    font-size: 1em;
    font-weight: 900;
}

h4 {
    margin: 0 0 2vh 0;
    font-size: 0.7em;
    font-weight: 300;
}

p {
    font-family: DM Sans, sans-serif;
    font-size: 3vw;
    font-weight: 400;
    color:white;
    text-align: center;
}

navbar {
    position: fixed;
    z-index: 10;
    top: 2vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 1vh;
    border: solid 1.5px rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    box-shadow: 0 0 3vh rgba(0, 0, 0, 0.2);
}

a {
    font-family: Roboto, sans-serif;
    font-size: 4vw;
    font-weight: 900;
    text-decoration: none;

    color: white;
    filter: drop-shadow(0 0 1vh rgba(0, 0, 0, 0.3));

    white-space: nowrap;
    margin: 1vh 2.2vw 1vh 2.2vw; 
}

video {
    width: 100%;
    box-shadow: 0px 0px 8vh rgba(0, 0, 0, 0.663);
    vertical-align: middle; /* fixes the little extra line space thing */
}


.projects-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2vh 4vw;
}

.project-item {
    overflow: hidden;
    border-radius: 4vw;
    border: solid 2px white;
    white-space: normal;

}

img {
    width: 100%;
    vertical-align: middle; /* fixes the little extra line space thing */
}

#img-gallery {
    margin-bottom: 10vh;
}

section {
    padding: 2vh 3vw 2vh 3vw;
    /* border: solid 1px rgb(209, 115, 238); */
    background: linear-gradient(132deg, rgba(2,0,36,1) 0%, rgba(71,41,119,1) 100%); 
}

#sec-home {
    padding: 0;
}

#sec-projects {
}

#sec-crew {
}

#sec-info {
}


@media only screen and (min-width: 600px) { /* Tablet Styling */
}

@media only screen and (min-width: 600px) { /* was: (768px for Desktop Styling. 600 is tablet) */
    a {
        font-size: 2vw;
    }

    navbar {
        border-radius: 1.5vh;
    }

    .projects-grid {
        grid-template-columns: auto auto auto auto;
        gap: 4vh 0.5vw;

    }
}