body {
    /* background-color: #181818; */
    background-color: white;
    margin: 0;
}

navbar {
    position: fixed;
    z-index: 10;
    top: 2vh;
    left: 50%;

    /* fix for blur not working on safari. https://stackoverflow.com/questions/70138527/css-filter-blur-not-working-properly-on-safari */

    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background-color: rgba(211, 196, 255, 0.15);
    border-radius: 1vh;
    border: solid 1.5px rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    box-shadow: 0 0 3vh rgba(0, 0, 0, 0.3);
}

navbar > a {
    margin: 1vh 4vw 1vh 4vw; 
    font-size: 5vw;
    filter: drop-shadow(0 0 1vh rgba(0, 0, 0, 0.3));

}

h1, h2, h3, h4, p, a{
    font-family: futura-pt, sans-serif;
    /* color: white; */
    color: black;
}

h1 {
    font-weight: 700;
}

p {
    margin: 1vh 0 1vh 0;
    font-size: 4.5vw;
    font-weight: 300;
}

a {
    font-size: 4vw;
    font-weight: 700;
    text-decoration: underline;

    color: white;

    white-space: nowrap;
}

#text-section {
    padding: 15px;
}

#project-title {
    margin: 0 0 1vh 0;
    line-height: 1;
}

#designer {
    font-weight: 500;
    color: black;
    font-size: 5.5vw;
}

img {
    /* margin-bottom: 2vh; */
    color: gray;
    font-weight: 300;
    width: 100%;
    vertical-align: middle; /* fixes the little extra line space thing */
}

#designer-bio {
    margin-top: 5vh;
}

.bio-container {
    display: grid;
    grid-template-columns: 100%;
}

#headshot {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    width: 70%;
}

#designer-name {
    margin-left: 2vw;
    font-size: 10vw;
    text-align: center;
}

#personal-bio {
    font-size: 4vw;
    margin: 0 2vw 1vh 2vw;
}

#social-links-container {
    list-style-type: none;
    margin-left: 2vw;
    border-left: solid 1.5px black;
    padding-left: 3vw;
    margin-bottom: 4vh;
}

.social-link {
    display: block;
    color: black;
    font-size: 5vw;
    font-weight: 300;
    filter: drop-shadow(none);
}


@media only screen and (min-width: 600px) { /* Tablet Styling */
}

@media only screen and (min-width: 600px) { /* was: (768px for Desktop Styling. 600 is tablet) */
    section {
        padding: 18vh 20vw 2vh 20vw;
    }

    navbar > a {
        margin: 0.8vh 3vw 0.8vh 3vw; 
        font-size: 1.8vw;
    }

    navbar {
        border-radius: 1.2vh;
        border: solid 2px rgba(255, 255, 255, 0.08);
    }

    #text-section {
        margin-bottom: 10vh;
    }

    #project-title {
        font-size: 5.2vw;
        margin-bottom: 3vh;
    }

    #designer {
        font-size: 2vw;
        margin-bottom: 1vh;
    }

    p {
        font-size: 1.3vw;
    }

    img {
        margin-bottom: 4vh;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
    }

    #designer-bio {
        margin-top: 0;
        margin-bottom: 20vh;
        padding-top: 8vh;
    }
    
    .bio-container {
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50%;
    }

    #headshot {
        width: 100%;

        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    
    #designer-name {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 3vw;
        text-align: left;

        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 1;
    }
    
    #personal-bio {
        font-size: 1.4vw;
        grid-column-start: 2;
        grid-column-end: 5;
    }
    
    #social-links-container {
        margin-left: 0;
        margin-right: 3vw;
        padding-right: 1vw;

        border-left: none;
        border-right: solid 1.5px black;

        text-align: right;

        grid-column-start: 1;
        grid-column-end: 5;
    }
    
    .social-link {
        font-size: 1.5vw;
    }
    

}