body {
    margin: 0;
    /* background-color: rgb(93, 93, 210); */
    /* background-color: #05070f; */
    background-color: #181818;
}

h1, h2, h3, h4, h5, p, tr {
    font-family: futura-pt, sans-serif;
    color: white;
    text-align: center;
    z-index: 5;
}

h1 {
    font-size: 14vw;
    font-weight: 700;
    margin: 5vh 0 3vh 0;
}

h2 {
    font-size: 9vw;
    font-weight: 500;
    margin: 1vh 0 1vh 0;
    text-align: left;
}

h3, #maplink{
    margin: 1vh 0 1vh 0;
    font-size: 4.2vw;
    font-weight: 300;
}

h4 {
    margin: 1vh 0 0.5vh 0;
    font-size: 4.6vw;
    font-weight: 700;
}

h5 { 
    margin: 0 0 2vh 0;
    font-size: 4.2vw;
    font-weight: 300;
}

p, td {
    text-align: left;
    font-size: 4.2vw;
    font-weight: 300;
}

navbar {
    position: fixed;
    z-index: 10;
    top: 2vh;
        
    display: flex;
    align-items: center;

    left: 50%;
    transform: translateX(-50%);

    background-color: rgba(211, 196, 255, 0.15);
    border-radius: 1vh;
    border: solid 1.5px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);

    box-shadow: 0 0 3vh rgba(0, 0, 0, 0.3);
}

navbar > a {
    margin: 1vh 4vw 1vh 4vw; 
    font-size: 5vw;
}

#title-block {
    position: absolute;
    bottom: 6%;
    margin: 0vh 26vw 0vh 26vw;
    justify-content: center;
}

#title-block > h2 {
    text-align: center;
    font-size: 4.5vw;
    font-weight: 300;

    text-shadow: 0 0 2vw rgb(26, 26, 29);
}


a {
    font-family: futura-pt, sans-serif;
    font-size: 4vw;
    font-weight: 700;
    text-decoration: none;

    color: white;
    filter: drop-shadow(0 0 1vh rgba(0, 0, 0, 0.3));

    white-space: nowrap;
}

video {
    width: 100%;
    box-shadow: 0px 0px 8vh rgba(0, 0, 0, 0.663);
    vertical-align: middle; /* fixes the little extra line space thing */
}

.info-container {
    display: flex;
    flex-direction: column;
    /* border:2px solid green; */
}

.homepage-links-container {
    display: flex;
    align-items: center;
    margin: 4vh auto auto auto;
    /* margin-top: 4vh; */

    /* border: 2px solid blue; */
}

.social-icon {
    width: 10vw;
    margin: 0 4vw 0 4vw;
}

.social-text {
    font-size: 6vw;
    font-weight: 500;
}

hr {
    color: white;
    margin: 3vh 12vw 0 12vw;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); /* https://stackoverflow.com/questions/47601564/equal-width-columns-in-css-grid */
    gap: 2vh 3vw;
}

.project-item {
    overflow: hidden;
    white-space: normal;
}

.project-item > img {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6) ;
}

#maplink {
    text-decoration: underline;
}

table {
    margin-top: 2vh;
}

td {
    padding-right: 3vw;
    line-height: 2vh;
}

img {
    color: gray;
    font-weight: 400;
    width: 100%;
    vertical-align: middle; /* fixes the little extra line space thing */
}

#show-info-text {
    margin-left: 8vw;
    padding-left: 4vw;
    border-left: solid 3px white;
}

#show-info-text > h3 {
    text-align: left;
}

#eventbright-link {
    font-size: 4.2vw;
    font-weight: 500;
    text-decoration: underline;
}

#show-info-img {
    margin: 4vh 0 5vh 0;
    max-width: 100%;
}

section {
    position: relative;
    padding: 2vh 3vw 2vh 3vw;
    /* background: linear-gradient(132deg, rgba(2,0,36,1) 0%, rgba(71,41,119,1) 100%);  */
    /* background-color: #05070f; */
}

#sec-home {
    padding: 0;
}




@media only screen and (min-width: 600px) { /* Tablet Styling */
}

@media only screen and (min-width: 600px) { /* was: (768px for Desktop Styling. 600 is tablet) */
    section {
        padding: 2vh 15vw 2vh 15vw;
    }

    navbar > a {
        margin: 0.8vh 3vw 0.8vh 3vw; 
        font-size: 1.8vw;
    }

    navbar {
        border-radius: 1.2vh;
        border: solid 2px rgba(255, 255, 255, 0.08);
    }

    h1 {
        font-size: 6vw;
        text-align: left;
    }
    
    h2 {
        font-size: 4vw;
    }
    
    h3, #maplink{
        font-size: 2vw;
    }
    
    h4 {
        font-size: 1.6vw;
    }
    
    h5 { 
        font-size: 1.2vw;
    }
    
    p, td{
        font-size: 1.3vw;
    }

    a {
        font-size: 2vw;
        font-weight: 700;
    
        color: white;
        filter: drop-shadow(0 0 1vh rgba(0, 0, 0, 0.3));
    
        white-space: nowrap;
    }

    #title-block {
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }

    #title-block > h2 {
        font-size: 2vw;
    }

    .projects-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr)); /* https://stackoverflow.com/questions/47601564/equal-width-columns-in-css-grid */
        gap: 5vh 2vw;
    }

    .project-item:hover {
    }

    .info-container {
        flex-direction: row;
        margin-bottom: 8vh;
    }

    .homepage-links-container {
        align-items: center;
        margin-top: 4vh;
        padding-left: 0%;
    }

    .social-icon {
        width: 5vw;
        margin: 0 2vw 0 2vw;
    }
    
    .social-text {
        font-size: 1.5vw;
    }

    #show-info-text {
        margin-left: 0vw;
        width: 100%;
        border-left: solid 3px white;
    }

    td {
        line-height: 3vh;
    }

    #eventbright-link {
        font-size: 1.3vw;
    }

    #show-info-img {
        margin: 0vh 0 0vh 4vw;

    }


}